---
import { Image } from "astro:assets";
import { resolvePostImage } from "../scripts/post-images.js";

export interface Props {
  path: string;
  alt: string;
  title: string;
}

const { path, alt, title } = Astro.props;
const src = await resolvePostImage(path);
---

<div class="mb-10">
  {
    src ? (
      <Image {src} {alt} {title} layout="constrained" class="rounded-lg" />
    ) : (
      <img
        class="w-full h-full object-cover rounded-lg"
        src={path}
        {alt}
        {title}
      />
    )
  }
</div>
