---
// This component is nearly the same as "BlogPostPreview".
// The difference: This shows an image next to the title in the preview.
//
// For the (re)-launch of andygrunwald.com we had a few images in the articles.
// However, they didn't look great: Wrong / too strong colours, wrong sizing, etc.
//
// At some point in time, we want to use this component.
export interface Props {
	post: any;
	n: number;
}

import { Markdown } from 'astro-remote';
import { formatDate } from "../scripts/date.js"

const { post, n } = Astro.props;

// Check if we have an image
let hasImage = false;
let imagePath = "";
let imageWidthClass = "";
let imagePaddingLeftClass = "";
if (post.data.images.length > 0) {
	hasImage = true
	imageWidthClass = "lg:w-2/5";
	imagePaddingLeftClass = "lg:pl-10";
	// Just picking the first image
	imagePath = post.data.images[0]
}
---
{n % 2 == 0 &&
<div class="flex flex-wrap items-center -mx-4 mb-16">
	<div class={"w-full px-4 " + imageWidthClass}>
		<div class="text-left">
			{post.data.categories.map((category) => <span class="inline-block mb-3 mr-2 text-xs px-2 py-1 bg-blue-50 rounded uppercase text-blue-400 font-semibold">
					{category}
				</span>
			)}
			<h2 class="mb-4 text-3xl font-semibold font-heading">
				<a href={`/blog/${post.slug}/`} title={post.data.title} class="hover:underline hover:text-red-300">
					{post.data.title}
				</a>
			</h2>
			<span class="inline-block mb-6 text-xs text-gray-500">
				<time class="date" datetime={post.data.pubDate}>{formatDate(post.data.pubDate)}</time>
			</span>
			<Markdown class="text-xl text-gray-500" content={post.data.description} />
		</div>
	</div>
	{hasImage && <div class="order-first lg:order-last w-full lg:w-3/5 px-4 mb-8 lg:mb-0">
		<div class="h-96">
			<a href={`/blog/${post.slug}/`} title={post.data.title}>
				<img class="w-full h-full object-cover rounded-lg" src={imagePath} alt="">
			</a>
		</div>
	</div>}
</div>
}

{n % 2 == 1 &&
<div class="flex flex-wrap items-center -mx-4 mb-16">
	{hasImage && <div class="w-full lg:w-3/5 px-4 mb-8 lg:mb-0">
		<div class="h-96">
			<a href={`/blog/${post.slug}/`} title={post.data.title}>
				<img class="w-full h-full object-cover rounded-lg" src={imagePath} alt="">
			</a>
		</div>
	</div>}
	<div class={"w-full px-4 " + imageWidthClass}>
		<div class={"text-left" + imagePaddingLeftClass}>
			{post.data.categories.map((category) => <span class="inline-block mb-3 mr-2 text-xs px-2 py-1 bg-blue-50 rounded uppercase text-blue-400 font-semibold">
					{category}
				</span>
			)}
			<h2 class="mb-4 text-3xl font-semibold font-heading">
				<a href={`/blog/${post.slug}/`} title={post.data.title} class="hover:underline hover:text-red-300">
					{post.data.title}
				</a>
			</h2>
			<span class="inline-block mb-6 text-xs text-gray-500">
				<time class="date" datetime={post.data.pubDate}>{formatDate(post.data.pubDate)}</time>	
			</span>
			<Markdown class="text-xl text-gray-500" content={post.data.description} />
		</div>
	</div>
</div>

}