---
export interface Props {
	post: any;
	n: number;
}

import Markdown from '@astrojs/markdown-component';
import { formatDate } from "../scripts/date.js"

const { post, n } = Astro.props;

---

<div class="flex flex-wrap items-center -mx-4 mb-20">
	<div class="w-full px-4">
		<div class="text-left">
			{post.frontmatter.categories.map((category) => <span class="inline-block mb-3 mr-2 text-xs px-2 py-1 bg-blue-50 rounded uppercase text-blue-400 font-semibold">
					{category}
				</span>
			)}
			<h2 class="mb-4 text-3xl font-semibold font-heading">
				<a href={post.url} title={post.frontmatter.title} class="hover:underline hover:text-red-300">
					{post.frontmatter.title}
				</a>
			</h2>
			<span class="inline-block mb-6 text-sm text-gray-500">
				<time class="date" datetime={post.frontmatter.pubDate}>{formatDate(post.frontmatter.pubDate)}</time>
			</span>
			<Markdown class="text-xl text-gray-500">{post.frontmatter.description}</Markdown>
		</div>
	</div>
</div>
