---
import { Image } from "astro:assets";
import { resolvePostImage } from "../scripts/post-images.js";

export interface Props {
  path: string;
  title: string;
  alt: string;
  link?: string;
}

const { path, title, alt, link } = Astro.props;
const src = await resolvePostImage(path);
---

<div class="mb-10">
  <figure>
    {
      link ? (
        <a href={link}>
          {src ? (
            <Image
              {src}
              {alt}
              {title}
              layout="constrained"
              class="rounded-lg"
            />
          ) : (
            <img
              src={path}
              {alt}
              {title}
              class="w-full h-full object-cover rounded-lg"
            />
          )}
        </a>
      ) : src ? (
        <Image {src} {alt} {title} layout="constrained" class="rounded-lg" />
      ) : (
        <img
          src={path}
          {alt}
          {title}
          class="w-full h-full object-cover rounded-lg"
        />
      )
    }
    <figcaption>
      {title}
    </figcaption>
  </figure>
</div>
